/* body style & font Css Style */
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  
}
/* search-box Style */
 .search-field {
   width: 350px;
   border: none;
   padding: 5px;
   outline: none;
}
 .search-field:hover {
  outline: none;
  border: none;
} 
.search-box {
  width: 500px;
  border-radius: 5px;
  margin-left: 330px;
  margin-top: 30px;
  margin-bottom: 50px;
  border-right: none;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
 
}
.search-button {
  padding: 10px 50px;
  border-radius: 20px;
  margin-left: 57.8px;
} 
/* Product Cart style */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; 
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.card-footer{
  margin-top: 30px;
  /* position: absolute; */
}
.single-product {
  /* position: relative; */
  height: 630px;
  padding: 10px;
  transition: 0.6s;
  background: linear-gradient(to right, #eaeeea, #ffffff);
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
  background: linear-gradient(to left, #dde2dd, #ffffff);
  
}
.product-image {
  width: 200px;
  height: 200px;
}
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px rgb(128, 128, 128);
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
/* Responsive Section */

/* Responsive Section for pad */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
/* Responsive for Mobile */
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 100px;
    padding: 5px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    position: fixed;
  }
  .cart-main {
    padding-right: 5px;
  }
}
